<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Dr. Naomi Fisher</h1>
    <p>Clinical Psychologist and EMDR Consultant</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/therapy">Therapy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/supervision">Supervision</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/parent-consultations">Parents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/emdr">EMDR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cbt">CBT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/act">ACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>