<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/topAndNav.ejs %>

<div class="container" style="margin-top:30px">
    <div class="row">
        <% include ../partials/sidebar.ejs %>
        <div class="col-sm-8">
            <h2>ACT</h2>
            <ul>
                <li>Acceptance and commitment therapy is a form of CBT which focuses on willingness to accept how we feel right now, and making a commitment to behave in a way which is consistent with our values. It uses techniques from mindfulness alongside commitment to behaviour change with the aim of increasing psychological flexibility.</li>

                <li>Psychological flexibility from an ACT perspective means being able to change or stick with our behaviour based on the current situation, whilst staying in contact with the present moment and our emotions.</li>
            </ul>
            <br>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>

