<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/topAndNav.ejs %>

<div class="container" style="margin-top:30px">
    <div class="row">
        <% include ../partials/sidebar.ejs %>
        <div class="col-sm-8">
            <h2>CBT</h2>
            <ul>
                <li>Cognitive behavioural therapy looks at the relationship between thoughts, feelings, behaviour and how our body feels.  It aims to identify patterns which might be keeping people feeling stuck, and looks at ways to change. It is often focused on making changes in the here and now but can also be look at how past experiences have led to present reactions.</li>

                <li>There is a strong evidence base for CBT with a range of mental health problems, including depression and many anxiety-related problems.</li>

            </ul>

            <br>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>

