<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/topAndNav.ejs %>

<div class="container" style="margin-top:30px">
    <div class="row">
       <% include ../partials/sidebar.ejs %>
        <div class="col-sm-8">
            <h2>EMDR</h2>
            <ul>
                <li>EMDR is an acronym for 'Eye Movement Desensitisation and Reprocessing'. It was developed by Dr Francine Shapiro in the 1980s. It uses bilateral stimulation - often but not always eye movements - to help process blocked memories from the past.</li>

                <li>When someone experiences a distressing event, they can feel emotionally overwhelmed and their brain may be unable to make sense of what is happening to them. The memory of this event will then be different to their other memories - it is often fragmented, with lots of bodily sensations and emotions. When the person thinks of the event, it’s like it is happening again and this is very distressing.</li>

                <li>Sometimes people can try to avoid reminders of what happened and avoid thinking about the experience. The memories however do not go away, and they can pop into the person’s head at any time, causing intense and unpredictable distress. These memories do not become less distressing over time, unlike normal memories, and it can feel like events that happened years ago are as upsetting as if they happened yesterday.</li>

                <li>EMDR seems to stimulate the blocked information processing system, allowing the memory to be integrated into our experience and to become more like other memories. The memory will not go away, but it should feel less intensely distressing. It’s the difference between being able to remember than something was distressing but no longer feeling the distress, and feeling as if it’s happening again.</li>

                <li>There is good evidence that EMDR can help people with post-traumatic stress disorder, and it can also help people with other mental health problems where memories from the past are causing distress in the present day.</li>
            </ul>

            <br>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>

