<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/topAndNav.ejs %>

<div class="container" style="margin-top:30px">
    <div class="row">
        <% include ../partials/sidebar.ejs %>
        <div class="col-sm-8">
            <h2>Welcome</h2>
            <p>Sometimes life can be overwhelming.  Many people find that events in the present day activate memories and feelings from the past, making it hard to cope with their day to day lives. That’s when psychological therapy can help, making sense of thoughts and feelings and helping you to live your life in the way you want.</p>

            <p>I am a clinical psychologist and EMDR-Europe Accredited Consultant. I work remotely, offering both therapy and supervision. I use EMDR and CBT, particularly Acceptance and Commitment Therapy.  I also offer consultation and support for parents. My approach is always tailored to your individual needs, starting with what you want to change.</p>
            <br>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>

