<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/topAndNav.ejs %>

<div class="container" style="margin-top:30px">
    <div class="row">
        <% include ../partials/sidebar.ejs %>
        <div class="col-sm-8">
            <h2>Parent Consultations</h2>
            <p>Sometimes being with our children brings up strong emotions. It can be hard to understand their behaviour as well as our own reactions to them. I work with parents who want a space to reflect on their experiences with their children and who would like to explore gentle and non-punitive ways to help their children. I also work with parents who have experienced birth trauma or who are traumatised by events in the lives of their children, for example receiving diagnoses.</p>

            <br>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>

